@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900');

@media screen and (max-width: 768px) {
  .col-2 {
    width:100%;
    float: left;
  }

  .col-3 {
    width: 100%;
    float: left;
  }

  .col-3 {
    width: 100%;
    float: left;
  }

  .col-4 {
    width: 100%;
    float: left;
  }

  .col-5 {
    width: 100%;
    float: left;
  }

  .col-6 {
    width: 100%;
    float: left;
  }

  .col-7 {
    width: 100%;
    float: left;
  }

  .col-8 {
    width: 100%;
    float: left;
  }
  
  .col-9 {
    width: 100%;
    float: left;
  }

  .col-10 {
    width: 100%;
    float: left;
  }

  .col-12 {
    width: 100%;
    float: left;
  }
}

@media screen and (min-width: 769px) {
  .col-2 {
    width: 12.5%;
    float: left;
  }

  .col-3 {
    width: 25%;
    float: left;
  }

  .col-4 {
    width: 33.3%;
    float: left;
  }

  .col-5 {
    width: 40%;
    float: left;
  }

  .col-6 {
    width: 50%;
    float: left;
  }

  .col-7 {
    width: 60%;
    float: left;
  }

  .col-8 {
    width: 66.6%;
    float: left;
  }

  .col-9 {
    width: 75%;
    float: left;
  }

  .col-10 {
    width: 80%;
    float: left;
  }

  .col-12 {
    width: 100%;
    float: left;
  }
}

body * {
  font-family: 'Lato', sans-serif;
  color: #25292e;
}

p {
  line-height: 1.5em;
}

a {
  color: #2a7ae2;
}

a:visited {
  color: #1756a9;
}

code {
  font-family: monospace;
  background: #26292e;
  color: whitesmoke;
  padding: 1em;
  margin-top: 1em;
  box-sizing: border-box;
  line-height: 4em;
  border-radius: 5px;
}

blockquote {
  margin-left: 0;
  padding: 1em;
  padding-left: 2em;
  border-left: solid 5px #efefef;
  font-style: italic;
}

input, select, textarea {
  background: whitesmoke;
  padding: .8em;
  border: none;
  outline: none;
  box-sizing: border-box;
  width: 100%;
}

input[type="color"] {
  padding: 0;
  width: 30px;
}

option {
  padding: .2em;
}

label {
  font-weight: bold;
  margin-right: 1em;
}

hr {
  border-top: solid 1px whitesmoke;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}


.form-group {
  margin-bottom: .5em;
}

.btn {
  border: none;
  border-radius: 5px;
  color: white;
  padding: .8em 1.5em;
  cursor: pointer;
  margin-bottom: 1em;
}

.btn-red {
  background: #ef5350;
  color: white;
}

.btn-blue {
  background: #26c6da;
  color: white;
}

.muted {
  color: grey;
}

.thin {
  font-weight: 100;
}

.btn-primary {
  background: #25292e;
}

.btn-secondary {
  background: whitesmoke;
  color: #25292e;
}

.row {
  padding: 0 1em;
  width: 100%;
  box-sizing: border-box;
}

.content {
  background: white;
  padding: 1em;
}
